footer {
    background-color: rgb(224, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-color: rgb(163, 163, 163);
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-top: 20px;
    border-radius: 4px;
}